{% extends 'HFBundle::layout.html.twig' %}

{% block title %}Hungry First Internal{% endblock %}

{% block content %}
    {{ include('HFBundle:Snippets:logo.html.twig') }}
    <div class="container-fluid">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        {# render customer list #}
        {{ render(controller('HFBundle:Customer:list', {'query': query})) }} 
    </div>
{% endblock %}
